# O que explica o nível de pobreza/riqueza de determinada sociedade? 

Existem diversas teorias que tentam explicar essa pergunta. 

Mas vamos analisar dados dos países do mundo, suas características de acordo com seu nível de riqueza e tentar entender melhor essa questão

A presente análise será realizada com base nos dados dos países pertencentes à base de dados do banco mundial (Link : https://databank.worldbank.org/source/world-development-indicators) que possuem a informação de PIB per capita (current US$) disponível para o ano de 2020.

# Limpeza e Preparação dos Dados

Missing, outliers, duplicadas

Crie um dataframe de nome "df" com as informações do arquivo Excel contido na url abaixo, usando a biblioteca pandas:

In [1]:
url= ('https://github.com/thaissalzer/thaissalzer/blob/89c1f805aff7c82383eb2b95185d46e2c3b454ba/dados.xlsx?raw=true')

In [2]:
# Abrindo o arquivo que utilizaremos

import pandas as pd
url= ('https://github.com/thaissalzer/thaissalzer/blob/89c1f805aff7c82383eb2b95185d46e2c3b454ba/dados.xlsx?raw=true')
df= pd.read_excel(url) #caso ocorra um erro na execução dessa linha
#execute esse comando em uma célula anterior: !pip install --upgrade openpyxl --quiet
df.head()

,Time,Time Code,Country Name,Country Code,GDP per capita (current US$) [NY.GDP.PCAP.CD],"Labor force participation rate, total (% of total population ages 15+) (national estimate) [SL.TLF.CACT.NE.ZS]",Gross fixed capital formation (% of GDP) [NE.GDI.FTOT.ZS],Gross fixed capital formation (current US$) [NE.GDI.FTOT.CD],"Population, total [SP.POP.TOTL]",Labor force with advanced education (% of total working-age population with advanced education) [SL.TLF.ADVN.ZS],Arable land (hectares per person) [AG.LND.ARBL.HA.PC],"Industry (including construction), value added (% of GDP) [NV.IND.TOTL.ZS]","Government expenditure on education, total (% of GDP) [SE.XPD.TOTL.GD.ZS]"
0,2020,YR2020,Argentina,ARG,8496.424142,56.02,14.016196,54038074345.895622,45376763,77.239998,0.719151,22.180573,5.01605
1,2020,YR2020,Australia,AUS,51720.370763,65.029999,22.635947,300356616168.387207,25655289,76.830002,1.194452,25.406283,6.1
2,2020,YR2020,Brazil,BRA,6794.489159,60.290001,16.60727,240566271977.808838,213196304,79.400002,0.261552,17.701653,..
3,2020,YR2020,China,CHN,10408.669756,..,42.486081,6240217076281.010742,1411100000,..,0.084667,37.842826,3.57
4,2020,YR2020,France,FRA,39055.282928,54.529999,22.932747,605197177111.285767,67571107,75.650002,0.265743,16.495439,5.5

## Relembrando a ultima aula, vamos excluir algumas variáveis, e renomear as demais:

In [3]:
# Excluindo algumas colunas:
df = df.drop(columns=['Time Code',
                      'Country Code',
                      'Labor force participation rate, total (% of total population ages 15+) (national estimate) [SL.TLF.CACT.NE.ZS]',
                      'Gross fixed capital formation (% of GDP) [NE.GDI.FTOT.ZS]'])

In [4]:
#renomeando:
df = df.rename(columns={
    "GDP per capita (current US$) [NY.GDP.PCAP.CD]": "GDP_PC",
    "Labor force with advanced education (% of total working-age population with advanced education) [SL.TLF.ADVN.ZS]" :'forca_trab_educ',
    "Arable land (hectares per person) [AG.LND.ARBL.HA.PC]":'arable_land',
    'Industry (including construction), value added (% of GDP) [NV.IND.TOTL.ZS]':'industria_PERCPIB',
    'Government expenditure on education, total (% of GDP) [SE.XPD.TOTL.GD.ZS]': 'gasto_educ_PERCPIB',
    'Gross fixed capital formation (current US$) [NE.GDI.FTOT.CD]': 'FBKF',
    'Population, total [SP.POP.TOTL]': 'populacao'})

# Tente compreender, de forma geral, informações do dataframe

In [5]:
df.head()

,Time,Country Name,GDP_PC,FBKF,populacao,forca_trab_educ,arable_land,industria_PERCPIB,gasto_educ_PERCPIB
0,2020,Argentina,8496.424142,54038074345.895622,45376763,77.239998,0.719151,22.180573,5.01605
1,2020,Australia,51720.370763,300356616168.387207,25655289,76.830002,1.194452,25.406283,6.1
2,2020,Brazil,6794.489159,240566271977.808838,213196304,79.400002,0.261552,17.701653,..
3,2020,China,10408.669756,6240217076281.010742,1411100000,..,0.084667,37.842826,3.57
4,2020,France,39055.282928,605197177111.285767,67571107,75.650002,0.265743,16.495439,5.5

# Quantos países e quantas variáveis temos no nosso banco de dados?

In [6]:
df.shape

(266, 9)

# Faça uma análise dos dados usando o df.describe()

In [7]:
df.describe()

         Time
count   266.0
mean   2020.0
std       0.0
min    2020.0
25%    2020.0
50%    2020.0
75%    2020.0
max    2020.0

### Por que você acha que só vieram informações de ano (time)? 
tente descobrir usando o df.info()

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Time                266 non-null    int64
 1   Country Name        266 non-null    object
 2   GDP_PC              266 non-null    object
 3   FBKF                266 non-null    object
 4   populacao           266 non-null    object
 5   forca_trab_educ     266 non-null    object
 6   arable_land         266 non-null    object
 7   industria_PERCPIB   266 non-null    object
 8   gasto_educ_PERCPIB  266 non-null    object
dtypes: int64(1), object(8)
memory usage: 18.8+ KB

O tipo de dado object é usado para representar strings em DataFrames do pandas quando essas strings não têm um formato homogêneo ou são uma combinação de diferentes tipos de dados, como números e letras.

Isso ocorre pois, como vimos na aula passada, muitas vezes temos  dados ausentes (Missing values/ NaNs) na nossa base de dados. Além da representação padrão (NaN), e eles podem ter diversas outras representações

# Representações comuns de Missing values (Dados ausentes)

 - NaN 
 - 999 
 - .
 - ..
 - ?
 - faltante
 - " "

# Identifique qual padrão essa base utiliza para os Missing values. Coloque os dados ausentes no formato padrão do Python (NaN)

In [9]:
df.FBKF.value_counts()/len(df)

FBKF
..                    0.199248
906668955850.5645     0.007519
54038074345.89562     0.003759
288942459.8826308     0.003759
59146135721.017914    0.003759
                        ...
579045648.9785774     0.003759
3545923015.0818405    0.003759
12370152384.866951    0.003759
22591224996.236637    0.003759
22066377047798.223    0.003759
Name: count, Length: 213, dtype: float64

In [10]:
import numpy as np
df.FBKF.replace("..",np.nan, inplace=True) # colocando missing values no formato padrão
df.FBKF.isnull().sum()/len(df) # fazendo a verificação

0.19924812030075187

In [11]:
df.populacao.value_counts(dropna=False)/len(df)
df.populacao.replace("..",np.nan, inplace=True)
df.populacao.isnull().sum()/len(df)

0.0037593984962406013

In [12]:
df.gasto_educ_PERCPIB.replace("..",np.nan, inplace=True)
df.gasto_educ_PERCPIB.isnull().sum()/len(df)

0.23308270676691728

In [13]:
#GDP 
df.GDP_PC.value_counts(dropna=False)/len(df)
df.GDP_PC.replace("..",np.nan, inplace=True)
df.GDP_PC.isnull().sum()/len(df)

0.05263157894736842

In [14]:
#forca_trab_educ
df.forca_trab_educ.value_counts(dropna=False)/len(df)
df.forca_trab_educ.replace("..",np.nan, inplace=True)
df.forca_trab_educ.isnull().sum()/len(df)

0.5827067669172933

In [15]:
#arable_land
df.arable_land.value_counts(dropna=False)/len(df)
df.arable_land.replace("..",np.nan, inplace=True)
df.arable_land.isnull().sum()/len(df)

0.045112781954887216

In [16]:
#industria_PERCPIB
df.industria_PERCPIB.value_counts(dropna=False)/len(df)
df.industria_PERCPIB.replace("..",np.nan, inplace=True)
df.industria_PERCPIB.isnull().sum()/len(df)

0.10902255639097744

In [17]:
#gasto_educ_PERCPIB
df.gasto_educ_PERCPIB.value_counts(dropna=False)/len(df)
df.gasto_educ_PERCPIB.replace("..",np.nan, inplace=True)
df.gasto_educ_PERCPIB.isnull().sum()/len(df)

0.23308270676691728

# Faça, novamente, uma análise dos dados usando o df.describe()

In [18]:
df.describe()

,Time,GDP_PC,FBKF,populacao,forca_trab_educ,arable_land,industria_PERCPIB,gasto_educ_PERCPIB
count,266.0,252.000000,2.130000e+02,2.650000e+02,111.000000,254.000000,237.000000,204.000000
mean,2020.0,15773.923985,8.918633e+11,3.190983e+08,75.470018,0.184742,25.259199,4.510586
std,0.0,24065.495556,2.728344e+12,9.950997e+08,8.260972,0.200940,9.263793,1.773589
min,2020.0,216.826741,3.230906e+07,1.106900e+04,29.629999,0.000098,4.885343,0.000012
25%,2020.0,2139.636129,3.138959e+09,1.790133e+06,71.712743,0.062987,19.400455,3.323817
50%,2020.0,6034.203335,2.106872e+10,1.060623e+07,76.980003,0.135040,24.554311,4.301025
75%,2020.0,18652.166722,2.405663e+11,6.170452e+07,80.395000,0.222371,31.673638,5.270000
max,2020.0,182538.638340,2.206638e+13,7.820982e+09,90.599998,1.575695,59.133630,13.625004

# O que fazer com os dados ausentes?

Como vimos na aula, alguns tratamentos para os dados ausentes podem ser:

Excluir a variável inteira

Imputar valores (média, mediana, etc).

Substituir a mão por valores significativos

## Substitua os valores ausentes da variável GDP_PC, pela média dos valores disponíveis dessa variável

In [22]:
df['GDP_PC'].fillna(df['GDP_PC'].mean(), inplace=True)

## Exercício extra (se der tempo)

Além do método que aprendemos na aula de substituir valores ausentes, existe o SimpleImputer, que também pode ser usado para substituir os valores ausentes de determinada variável, usando uma estatística descritiva escolhida.

Se tiver interesse e tempo, leia sua documentação e tente substituir os missing values existentes da variável gasto_educ_PERCPIB pela mediana da variável, usando o SimpleImputer

Documentação: https://scikit-learn.org/stable/modules/generated/sklearn.impute.SimpleImputer.html

In [28]:
df.gasto_educ_PERCPIB.isnull().sum()/len(df)

0.23308270676691728

In [29]:
from sklearn.impute import SimpleImputer

imputer = SimpleImputer(strategy="median") # Instanciate a SimpleImputer object with strategy of choice

imputer.fit(df[['gasto_educ_PERCPIB']]) # Call the "fit" method on the object

df['gasto_educ_PERCPIB'] = imputer.transform(df[['gasto_educ_PERCPIB']]) # Call the "transform" method on the object

In [30]:
df.gasto_educ_PERCPIB.isnull().sum()/len(df)

0.0

# Salve o Dataframe em um arquivo excel. Vamos usa-lo na próxima aula

In [21]:

# Salvar o DataFrame em um arquivo Excel
aula8 = 'aula8.xlsx'
df.to_excel(aula8, index=False)