In [ ]:
!pip install openpyxl --quiet

In [10]:
import numpy as np

In [40]:
a = pd.Series(['um', 'dois', 'tres', 'um', 'dois', 'dois']*100)
a

0        um
1      dois
2      tres
3        um
4      dois
       ...
595    dois
596    tres
597      um
598    dois
599    dois
Length: 600, dtype: object

In [18]:
a.map({'um': 1, 'dois': 2, 'tres': 3})

0      1
1      2
2      3
3      1
4      2
      ..
595    2
596    3
597    1
598    2
599    2
Length: 600, dtype: int64

In [34]:
mapeamento_dict = {'um': 1, 'dois': 2, 'tres': 3}

In [38]:
a = a.replace(mapeamento_dict)

In [41]:
a

0        um
1      dois
2      tres
3        um
4      dois
       ...
595    dois
596    tres
597      um
598    dois
599    dois
Length: 600, dtype: object

In [42]:
a.replace(['um', 'dois', 'tres'], [1, 2, 3])

0      1
1      2
2      3
3      1
4      2
      ..
595    2
596    3
597    1
598    2
599    2
Length: 600, dtype: int64

In [21]:
mapeamento = lambda x: 1 if x == 'um' else (2 if x == 'dois' else 3)

In [26]:
a.map(mapeamento)

0      1
1      2
2      3
3      1
4      2
      ..
595    2
596    3
597    1
598    2
599    2
Length: 600, dtype: int64

In [27]:
b = pd.Series(['homem', 'mulher']*2000)
b

0        homem
1       mulher
2        homem
3       mulher
4        homem
         ...
3995    mulher
3996     homem
3997    mulher
3998     homem
3999    mulher
Length: 4000, dtype: object

In [28]:
b.map(lambda x: 0 if x == 'homem' else 1)

0       0
1       1
2       0
3       1
4       0
       ..
3995    1
3996    0
3997    1
3998    0
3999    1
Length: 4000, dtype: int64

In [30]:
str.capitalize('homem')

'Homem'

In [31]:
b.map(str.capitalize)

0        Homem
1       Mulher
2        Homem
3       Mulher
4        Homem
         ...
3995    Mulher
3996     Homem
3997    Mulher
3998     Homem
3999    Mulher
Length: 4000, dtype: object

In [43]:
idades = pd.DataFrame({'idade': [20, 22, 25, 27, 1, 23,
                                 37, 31, 61, 45, 41, 32]})
idades

    idade
0      20
1      22
2      25
3      27
4       1
5      23
6      37
7      31
8      61
9      45
10     41
11     32

In [46]:
idades['idade'] = pd.cut(idades['idade'], bins=10)
idades

           idade  faixa_etaria
0   (19.0, 25.0]  (19.0, 25.0]
1   (19.0, 25.0]  (19.0, 25.0]
2   (19.0, 25.0]  (19.0, 25.0]
3   (25.0, 31.0]  (25.0, 31.0]
4    (0.94, 7.0]   (0.94, 7.0]
5   (19.0, 25.0]  (19.0, 25.0]
6   (31.0, 37.0]  (31.0, 37.0]
7   (25.0, 31.0]  (25.0, 31.0]
8   (55.0, 61.0]  (55.0, 61.0]
9   (43.0, 49.0]  (43.0, 49.0]
10  (37.0, 43.0]  (37.0, 43.0]
11  (31.0, 37.0]  (31.0, 37.0]