# Exercícios: Séries Pandas

### Somando Notas com Dicionários

Para demonstrar as capacidades das Séries Pandas, vamos solucionar um problema com as estrutura Nativa do Python e, em seguida, utilizando uma série do Pandas.<br>
Dados os seguintes dicionários contendo a nota dos alunos em duas disciplinas distintas, escreva uma função que gere um novo dicionário contendo o nome do aluno e a soma das notas nas duas disciplinas.<br>
Utilize a função criada para imprimir a soma das notas das duas disciplinas.

In [ ]:
notas_d1 = {'José': 6, 'Maria': 10, 'João': 8, 'Ana': 7, 'Carlos': 3, 'Luiza': 6, 'Pedro': 6, 'Mariana': 8, 'Fernando': 7, 'Isabela': 1, 'Francisco':6}
notas_d2 = {'Ana': 8,'Isabela': 6, 'Fernando': 4, 'Pedro': 5, 'Luiza': 4,'Maria': 1, 'Carlos': 2,  'João': 1,  'José': 10, 'Mariana': 5,'Henrique':8}

Com base no dicionário gerado, defina uma função para calcular a média das notas.<br>
Utilize-a para imprimir, em ordem alfabértica, o nome dos alunos cuja soma das notas é menor que a média da turma.

### Somando Notas com Séries Pandas

Converta os dicionários para Séries Pandas e faça a soma das notas dos alunos em ambas as disciplinas e imprima o resultado.<br>
Verifique o que ocorre com os valores que não se encontram em ambas as séries e pesquise o parâmetro do método pd.Series.add() para solucionar o problema.
Se necessário, consulte a documentação em: https://pandas.pydata.org/docs/reference/api/pandas.Series.html

Utilizando a série, imprima o nome dos alunos cujas notas estão abaixo da média da turma.

Remova da lista de notas totais os alunos cujas notas são inferiores à média.

### Benchmark: Dicionários x Séries Pandas

O Jupyter permite, por meio da inclusão do termo %%time no início da célula de código, analisar o tempo necessário para execução de um trecho de código.<br>
A fim de comparar o desempenho das versões do código, vamos gerar listas de notas com milhões de entradas executando o código abaixo.<br>
* Atenção: a geração dos dados pode demorar alguns minutos para ser executada.

In [ ]:
%%time
import secrets
import string
from random import randrange

def generate_random_string(n):
    characters = string.ascii_uppercase
    random_string = ''.join(secrets.choice(characters) for _ in range(n))

    return random_string

notas_d1={ generate_random_string(5): randrange(10) for i in range(0,12**6) }
notas_d2={ generate_random_string(5): randrange(10) for i in range(0,12**6) }

notas_p1 = pd.Series(notas_d1)
notas_p2 = pd.Series(notas_d2)

Utilizando a função criada no primeiro exercício, analise o tempo necessário para execução da soma das notas e compare com o desempenho da soma utilizando Séries Pandas.

Compare agora o tempo necessário para cálculo das médias utilizando a função definida no exercício 1 e com Pandas.

Compare agora o tempo necessário para soma das notas da turma 1 com as próprias notas da turma 1 utilizando as duas implementações.<br>
O que pode explicar a diferença observada?

### Tipos de Dados Séries Pandas & Numpy

Conforme visto em aula, as séries armazenam tipos uniformes de dados, tais como:
<table>
    <tr><th>Tipo de Dado</th><th>Código do Tipo de Dado</th><th>Descrição</th></tr>
    <tr><td>int8, uint8</td><td>i1, u1</td><td>Tipos inteiros de 8 bits (1 byte) com e sem sinal</td></tr>
    <tr><td>int16, uint16</td><td>i2, u2</td><td>Tipos inteiros de 16 bits com e sem sinal</td></tr>
    <tr><td>int32, uint32</td><td>i4, u4</td><td>Tipos inteiros de 32 bits com e sem sinal</td></tr>
    <tr><td>int64, uint64</td><td>i8, u8</td><td>Tipos inteiros de 64 bits com e sem sinal</td></tr>
    <tr><td>float16</td><td>f2</td><td>Ponto flutuante com metade da precisão</td></tr>
    <tr><td>float32</td><td>f4 ou f</td><td>Ponto flutuante padrão com precisão única; compatível com o float de C</td></tr>
    <tr><td>float64</td><td>f8 ou d</td><td>Ponto flutuante padrão com dupla precisão; compatível com o double de C e o objeto float de Python</td></tr>
    <tr><td>float128</td><td>f16 ou g</td><td>Ponto flutuante com precisão estendida</td></tr>
    <tr><td>complex64, complex128, complex256</td><td>c8, c16, c32</td><td>Números complexos representados por dois floats de 32, 64 ou 128, respectivamente</td></tr>
    <tr><td>bool</td><td>?</td><td>Tipo booleano que armazena os valores True e False</td></tr>
    <tr><td>object</td><td>O</td><td>Tipo objeto de Python; um valor pode ser qualquer objeto Python</td></tr>
    <tr><td>string_</td><td>S</td><td>Tipo string ASCII de tamanho fixo (1 byte por caractere); por exemplo, para criar um dtype string com tamanho 1O, utilize 'S10'</td></tr>
    <tr><td>unicode_</td><td>U</td><td>Tipo Unicode de tamanho fixo (número de bytes é específico de cada plataforma); a mesma semântica de especificação de string_ (por exemplo, 'U10')</td></tr>
</table>

Dados os dois dicionários abaixo, converta-os para séries pandas e verifique o tipo de dados resultante, imprimindo o atributo pd.Series.dtype.

In [ ]:
notas1 = {'Ana': 8,'Isabela': 6, 'Fernando': 4, 'Pedro': 5}
notas2 = {'Ana': 5,'Isabela': 'N/D', 'Fernando': 3, 'Pedro': 'N/D'}

Faça a soma das séries e observe o que ocorre.

Substitua, utilizando indexação booleana, os valores 'N/D' pelo valor 0 e tente novamente fazer a soma.

Converta a o tipo de dados da série para um tipo inteiro.