# Tratamento dos Dados ü™¢

## Sum√°rio da Aula

<ul>
    <li>Aspectos de Tratamento dos Dados ü™¢</li>
    <li>Jun√ß√£o, Mescla e Concatena√ß√£o ü•á</li>
    <li>Pivoteamento ü•à</li>
</ul>

### Biblioteca Principal üìö: pandas

<img src="https://pandas.pydata.org/docs/_static/pandas.svg" width="100" style="float: right;">

In [1]:
import pandas as pd

## Aspectos de Tratamento dos Dados ü™¢

### Indexa√ß√£o Hier√°rquica

<ul>
    <li>Dados podem estar espalhados em distintas fontes de dados; ou dispostos em formatos pouco f√°ceis de analisar</li>
    <li>Para contornar esta dificuldade, vamos fazer uso da indexa√ß√£o hier√°rquica para:
        <ul>
            <li>habilitar o uso de dois ou mais n√≠veis de √≠ndice para cada eixo; e</li>
            <li>permitir trabalhar com dados em dimens√£o superior a 2 ainda que disposto em formato bidimensional.</li>
</ul>

<pre><img src="figs/2d-shot-table.png" width="250px" style="margin-left: auto; margin-right: auto;"><img src="figs/3d-shot-cube.png" width="200px" style="margin-left: auto; margin-right: auto;"><img src="figs/2d-shot-cube.png" width="200px" style="margin-left: auto; margin-right: auto;"></pre>

üëâ Refer√™ncia: <a href='https://pandas.pydata.org/'>pandas.pydata.org</a>

üëâ Pandas <a href='https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf'>cheat sheet</a>

#### Indexa√ß√£o Hier√°rquica em Series üéûÔ∏è

<pre>Voc√™ pode ter √≠ndice hier√°rquico em Series -- nas linhas, naturalmente</pre>

In [2]:
from random import sample
data = pd.Series(sample(range(30), 9),
                 index=[["a", "a", "a", "b", "b", "c", "c", "d", "d"],
                        [1, 2, 3, 1, 3, 1, 2, 2, 3]])
data

a  1     7
   2     1
   3    23
b  1    21
   3    16
c  1    29
   2     2
d  2    12
   3    13
dtype: int64

In [3]:
data.index

MultiIndex([('a', 1),
            ('a', 2),
            ('a', 3),
            ('b', 1),
            ('b', 3),
            ('c', 1),
            ('c', 2),
            ('d', 2),
            ('d', 3)],
           )

<pre>Voc√™ pode acessar elementos espec√≠ficos do primeiro n√≠vel hier√°rquico...</pre>

In [4]:
data.loc['b']

1    21
3    16
dtype: int64

In [5]:
data.loc[['b', 'd']]

b  1    21
   3    16
d  2    12
   3    13
dtype: int64

<pre>..., bem como elementos espec√≠ficos do segundo n√≠vel hier√°rquico.</pre>

In [6]:
data.loc[['b', 'd'], [1,2,3]]

b  1    21
   3    16
d  2    12
   3    13
dtype: int64

<pre>Voc√™ pode "desempilhar" um n√≠vel do √≠ndice hier√°rquico e o colocar como colunas em um DataFrame üìΩÔ∏è</pre>

In [7]:
data = data.unstack()
data

      1     2     3
a   7.0   1.0  23.0
b  21.0   NaN  16.0
c  29.0   2.0   NaN
d   NaN  12.0  13.0

<pre>Voc√™ pode "empilhar" as colunas e as colocar como um n√≠vel do √≠ndice hier√°rquico</pre>

In [8]:
data = data.stack()
data

a  1     7.0
   2     1.0
   3    23.0
b  1    21.0
   3    16.0
c  1    29.0
   2     2.0
d  2    12.0
   3    13.0
dtype: float64

#### Indexa√ß√£o Hier√°rquica em DataFrame üìΩÔ∏è

<pre>Voc√™ pode ter √≠ndice hier√°rquico tanto em linhas <u>quanto em colunas</u></pre>

In [9]:
frame = pd.DataFrame([[0, 1, 2],[3, 4, 5],[6, 7, 8],[9, 10, 11]],
                     index=[["a", "a", "b", "b"], [1, 2, 1, 2]],
                     columns=[["Ohio", "Ohio", "Colorado"], 
                              ["Green", "Red", "Green"]])
frame

     Ohio     Colorado
    Green Red    Green
a 1     0   1        2
  2     3   4        5
b 1     6   7        8
  2     9  10       11

<pre>Voc√™ pode atribuir nomes aos √≠ndices hier√°rquicos das linhas e das colunas</pre>

In [10]:
frame.index.names = ["key1", "key2"]
frame.columns.names = ["state", "color"]
frame

state      Ohio     Colorado
color     Green Red    Green
key1 key2
a    1        0   1        2
     2        3   4        5
b    1        6   7        8
     2        9  10       11

<pre>Voc√™ pode contar os n√≠veis dos √≠ndices hier√°rquicos das linhas e das colunas</pre>

In [11]:
frame.index.nlevels, frame.columns.nlevels

(2, 2)

<pre>Voc√™ pode acessar elementos espec√≠ficos do primeiro n√≠vel do √≠ndice hier√°rquico das linhas...</pre>

In [12]:
frame.loc['a']

state  Ohio     Colorado
color Green Red    Green
key2
1         0   1        2
2         3   4        5

<pre>..., bem como elementos espec√≠ficos do primeiro n√≠vel do √≠ndice hier√°rquico das colunas</pre>

In [13]:
frame.loc[['a'],['Ohio']]

state      Ohio
color     Green Red
key1 key2
a    1        0   1
     2        3   4

#### Reorganiza√ß√£o e Ordena√ß√£o dos N√≠veis da Indexa√ß√£o Hier√°rquica

In [14]:
frame

state      Ohio     Colorado
color     Green Red    Green
key1 key2
a    1        0   1        2
     2        3   4        5
b    1        6   7        8
     2        9  10       11

<pre>Voc√™ pode reorganizar os n√≠veis do √≠ndice hier√°rquico das linhas...</pre>

In [15]:
frame = frame.swaplevel("key1", "key2")
frame

state      Ohio     Colorado
color     Green Red    Green
key2 key1
1    a        0   1        2
2    a        3   4        5
1    b        6   7        8
2    b        9  10       11

<pre>..., bem como ordenar lexicograficamente todos os n√≠veis do √≠ndice hier√°rquico das linhas,</pre>

In [16]:
frame.sort_index()

state      Ohio     Colorado
color     Green Red    Green
key2 key1
1    a        0   1        2
     b        6   7        8
2    a        3   4        5
     b        9  10       11

<pre>... ou ordenar lexicograficamente apenas um n√≠vel espec√≠fico do √≠ndice hier√°rquico das linhas.</pre>

In [17]:
frame.sort_index(level=1, ascending=False)

state      Ohio     Colorado
color     Green Red    Green
key2 key1
2    b        9  10       11
1    b        6   7        8
2    a        3   4        5
1    a        0   1        2

<pre>üçí üéÇ Voc√™ pode tamb√©m reorganizar ou ordenar lexicograficamente os n√≠veis do √≠ndice hier√°rquico das colunas</pre>

In [18]:
frame.swaplevel("state", "color", axis='columns')

color     Green  Red    Green
state      Ohio Ohio Colorado
key2 key1
1    a        0    1        2
2    a        3    4        5
1    b        6    7        8
2    b        9   10       11

In [19]:
frame.sort_index(axis='columns')

state     Colorado  Ohio
color        Green Green Red
key2 key1
1    a           2     0   1
2    a           5     3   4
1    b           8     6   7
2    b          11     9  10

In [20]:
frame.sort_index(axis='columns', level=1, ascending=False)

state     Ohio       Colorado
color      Red Green    Green
key2 key1
1    a       1     0        2
2    a       4     3        5
1    b       7     6        8
2    b      10     9       11

#### Indexando com algumas colunas de um DataFrame

<pre>Lembra que voc√™ pode "empilhar" as colunas e as colocar como um n√≠vel do √≠ndice hier√°rquico?</pre>

<pre>Voc√™ pode tamb√©m transformar um conjunto de 'n' colunas em 'n' n√≠veis hier√°rquicos...</pre>

In [21]:
frame = pd.DataFrame({"a": range(7),
                      "b": range(7, 0, -1),
                      "c": ["one", "one", "one", 
                            "two", "two", "two", "two"],
                      "d": [0, 1, 2, 0, 1, 2, 3]})
frame

   a  b    c  d
0  0  7  one  0
1  1  6  one  1
2  2  5  one  2
3  3  4  two  0
4  4  3  two  1
5  5  2  two  2
6  6  1  two  3

In [22]:
frame = frame.set_index(["c", "d"])
frame

       a  b
c   d
one 0  0  7
    1  1  6
    2  2  5
two 0  3  4
    1  4  3
    2  5  2
    3  6  1

<pre>... e transformar 'n' n√≠veis hier√°rquicos em um conjunto de 'n'</pre>

In [23]:
frame = frame.reset_index()
frame

     c  d  a  b
0  one  0  0  7
1  one  1  1  6
2  one  2  2  5
3  two  0  3  4
4  two  1  4  3
5  two  2  5  2
6  two  3  6  1

## Jun√ß√£o, Mescla e Concatena√ß√£o ü•á

Os dados de objetos pandas podem ser combinados conforme as opera√ß√µes a seguir.

<table>
    <tr><th>Op√ß√£o</th><th>Descri√ß√£o</th></tr>
    <tr><td>pandas.merge</td><td>Conecta linhas em DataFrames com base em uma ou mais chaves. Essa opera√ß√£o ser√° conhecida dos usu√°rios de SQL ou de outros bancos de dados relacionais, pois ela implementa as opera√ß√µes de jun√ß√£o (join) dos bancos de dados</td></tr>
    <tr><td>pandas.concat</td><td>Concatena ou "empilha" objetos ao longo de um eixo</td></tr>
</table>

### Jun√ß√£o

In [24]:
infectados = pd.DataFrame([['ce', 'fortaleza', 10, 1], \
                           ['rj', 'rio de janeiro', 20, 2], \
                           ['df', 'bras√≠lia', 30, 3]], \
                          columns=['estado', 'municipio', 
                                   'casos', '√≥bitos'])

vacinados = pd.DataFrame([['ce', 'fortaleza', 100], \
                          ['rj', 'rio de janeiro', 200], \
                          ['rn', 'natal', 300]], \
                         columns=['estado', 'municipio', 
                                  'habitantes vacinados'])

#### Inner Join

<pre>Inner join utiliza somente as combinac√µes de chaves observadas nas duas tabelas sendo combinadas</pre>

<table>
    <tr><th>Tabela √† Esquerda</th><th>Tabela √† Direita</th><th>Inner Join</th></tr>
    <tr>
        <td>
            <table border="1">
              <thead>
                <tr>
                  <th></th>
                  <th>estado</th>
                  <th>municipio</th>
                  <th>casos</th>
                  <th>√≥bitos</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>0</th>
                  <td bgcolor='green'>ce</td>
                  <td bgcolor='green'>fortaleza</td>
                  <td bgcolor='yellow'>10</td>
                  <td bgcolor='yellow'>1</td>
                </tr>
                <tr>
                  <th>1</th>
                  <td bgcolor='green'>rj</td>
                  <td bgcolor='green'>rio de janeiro</td>
                  <td bgcolor='yellow'>20</td>
                  <td bgcolor='yellow'>2</td>
                </tr>
                <tr>
                  <th>2</th>
                  <td bgcolor='gray'>df</td>
                  <td bgcolor='gray'>bras√≠lia</td>
                  <td bgcolor='gray'>30</td>
                  <td bgcolor='gray'>3</td>
                </tr>
              </tbody>
            </table>
        </td>
        <td>
            <table border="1">
              <thead>
                <tr>
                  <th></th>
                  <th>estado</th>
                  <th>municipio</th>
                  <th>habitantes vacinados</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>0</th>
                  <td bgcolor='green'>ce</td>
                  <td bgcolor='green'>fortaleza</td>
                  <td bgcolor='orange'>100</td>
                </tr>
                <tr>
                  <th>1</th>
                  <td bgcolor='green'>rj</td>
                  <td bgcolor='green'>rio de janeiro</td>
                  <td bgcolor='orange'>200</td>
                </tr>
                <tr>
                  <th>2</th>
                  <td bgcolor='pink'>rn</td>
                  <td bgcolor='pink'>natal</td>
                  <td bgcolor='pink'>300</td>
                </tr>
              </tbody>
            </table>
        </td>
        <td>
            <table border="1">
              <thead>
                <tr>
                  <th></th>
                  <th>estado</th>
                  <th>municipio</th>
                  <th>casos</th>
                  <th>√≥bitos</th>
                  <th>habitantes vacinados</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>0</th>
                  <td bgcolor='green'>ce</td>
                  <td bgcolor='green'>fortaleza</td>
                  <td bgcolor='yellow'>10</td>
                  <td bgcolor='yellow'>1</td>
                  <td bgcolor='orange'>100.0</td>
                </tr>
                <tr>
                  <th>1</th>
                  <td bgcolor='green'>rj</td>
                  <td bgcolor='green'>rio de janeiro</td>
                  <td bgcolor='yellow'>20</td>
                  <td bgcolor='yellow'>2</td>
                  <td bgcolor='orange'>200.0</td>
                </tr>
              </tbody>
            </table>
        </td>
    </tr>
</table>

In [25]:
pd.merge(infectados, vacinados, how='inner')

  estado       municipio  casos  √≥bitos  habitantes vacinados
0     ce       fortaleza     10       1                   100
1     rj  rio de janeiro     20       2                   200

#### Left Outer Join

<pre>Left Outer Join utiliza todas as combinac√µes de chaves encontradas na tabela √† esquerda</pre>

<table>
    <tr><th>Tabela √† Esquerda</th><th>Tabela √† Direita</th><th>Left Outer Join</th></tr>
    <tr>
        <td>
            <table border="1">
              <thead>
                <tr>
                  <th></th>
                  <th>estado</th>
                  <th>municipio</th>
                  <th>casos</th>
                  <th>√≥bitos</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>0</th>
                  <td bgcolor='green'>ce</td>
                  <td bgcolor='green'>fortaleza</td>
                  <td bgcolor='yellow'>10</td>
                  <td bgcolor='yellow'>1</td>
                </tr>
                <tr>
                  <th>1</th>
                  <td bgcolor='green'>rj</td>
                  <td bgcolor='green'>rio de janeiro</td>
                  <td bgcolor='yellow'>20</td>
                  <td bgcolor='yellow'>2</td>
                </tr>
                <tr>
                  <th>2</th>
                  <td bgcolor='gray'>df</td>
                  <td bgcolor='gray'>bras√≠lia</td>
                  <td bgcolor='gray'>30</td>
                  <td bgcolor='gray'>3</td>
                </tr>
              </tbody>
            </table>
        </td>
        <td>
            <table border="1">
              <thead>
                <tr>
                  <th></th>
                  <th>estado</th>
                  <th>municipio</th>
                  <th>habitantes vacinados</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>0</th>
                  <td bgcolor='green'>ce</td>
                  <td bgcolor='green'>fortaleza</td>
                  <td bgcolor='orange'>100</td>
                </tr>
                <tr>
                  <th>1</th>
                  <td bgcolor='green'>rj</td>
                  <td bgcolor='green'>rio de janeiro</td>
                  <td bgcolor='orange'>200</td>
                </tr>
                <tr>
                  <th>2</th>
                  <td bgcolor='pink'>rn</td>
                  <td bgcolor='pink'>natal</td>
                  <td bgcolor='pink'>300</td>
                </tr>
              </tbody>
            </table>
        </td>
        <td>
            <table border="1">
              <thead>
                <tr>
                  <th></th>
                  <th>estado</th>
                  <th>municipio</th>
                  <th>casos</th>
                  <th>√≥bitos</th>
                  <th>habitantes vacinados</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>0</th>
                  <td bgcolor='green'>ce</td>
                  <td bgcolor='green'>fortaleza</td>
                  <td bgcolor='yellow'>10</td>
                  <td bgcolor='yellow'>1</td>
                  <td bgcolor='orange'>100.0</td>
                </tr>
                <tr>
                  <th>1</th>
                  <td bgcolor='green'>rj</td>
                  <td bgcolor='green'>rio de janeiro</td>
                  <td bgcolor='yellow'>20</td>
                  <td bgcolor='yellow'>2</td>
                  <td bgcolor='orange'>200.0</td>
                </tr>
                <tr>
                  <th>2</th>
                  <td bgcolor='gray'>df</td>
                  <td bgcolor='gray'>bras√≠lia</td>
                  <td bgcolor='gray'>30</td>
                  <td bgcolor='gray'>3</td>
                  <td bgcolor='gray'>NaN</td>
                </tr>
              </tbody>
            </table>
        </td>
    </tr>
</table>

In [26]:
pd.merge(infectados, vacinados, how='left')

  estado       municipio  casos  √≥bitos  habitantes vacinados
0     ce       fortaleza     10       1                 100.0
1     rj  rio de janeiro     20       2                 200.0
2     df        bras√≠lia     30       3                   NaN

#### Right Outer Join

<pre>Right Outer Join utiliza todas as combinac√µes de chaves encontradas na tabela √† direita</pre>

<table>
    <tr><th>Tabela √† Esquerda</th><th>Tabela √† Direita</th><th>Left Outer Join</th></tr>
    <tr>
        <td>
            <table border="1">
              <thead>
                <tr>
                  <th></th>
                  <th>estado</th>
                  <th>municipio</th>
                  <th>casos</th>
                  <th>√≥bitos</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>0</th>
                  <td bgcolor='green'>ce</td>
                  <td bgcolor='green'>fortaleza</td>
                  <td bgcolor='yellow'>10</td>
                  <td bgcolor='yellow'>1</td>
                </tr>
                <tr>
                  <th>1</th>
                  <td bgcolor='green'>rj</td>
                  <td bgcolor='green'>rio de janeiro</td>
                  <td bgcolor='yellow'>20</td>
                  <td bgcolor='yellow'>2</td>
                </tr>
                <tr>
                  <th>2</th>
                  <td bgcolor='gray'>df</td>
                  <td bgcolor='gray'>bras√≠lia</td>
                  <td bgcolor='gray'>30</td>
                  <td bgcolor='gray'>3</td>
                </tr>
              </tbody>
            </table>
        </td>
        <td>
            <table border="1">
              <thead>
                <tr>
                  <th></th>
                  <th>estado</th>
                  <th>municipio</th>
                  <th>habitantes vacinados</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>0</th>
                  <td bgcolor='green'>ce</td>
                  <td bgcolor='green'>fortaleza</td>
                  <td bgcolor='orange'>100</td>
                </tr>
                <tr>
                  <th>1</th>
                  <td bgcolor='green'>rj</td>
                  <td bgcolor='green'>rio de janeiro</td>
                  <td bgcolor='orange'>200</td>
                </tr>
                <tr>
                  <th>2</th>
                  <td bgcolor='pink'>rn</td>
                  <td bgcolor='pink'>natal</td>
                  <td bgcolor='pink'>300</td>
                </tr>
              </tbody>
            </table>
        </td>
        <td>
            <table border="1">
              <thead>
                <tr>
                  <th></th>
                  <th>estado</th>
                  <th>municipio</th>
                  <th>casos</th>
                  <th>√≥bitos</th>
                  <th>habitantes vacinados</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>0</th>
                  <td bgcolor='green'>ce</td>
                  <td bgcolor='green'>fortaleza</td>
                  <td bgcolor='yellow'>10.0</td>
                  <td bgcolor='yellow'>1.0</td>
                  <td bgcolor='orange'>100</td>
                </tr>
                <tr>
                  <th>1</th>
                  <td bgcolor='green'>rj</td>
                  <td bgcolor='green'>rio de janeiro</td>
                  <td bgcolor='yellow'>20.0</td>
                  <td bgcolor='yellow'>2.0</td>
                  <td bgcolor='orange'>200</td>
                </tr>
                <tr>
                  <th>2</th>
                  <td bgcolor='pink'>rn</td>
                  <td bgcolor='pink'>natal</td>
                  <td bgcolor='pink'>NaN</td>
                  <td bgcolor='pink'>NaN</td>
                  <td bgcolor='pink'>300</td>
                </tr>
              </tbody>
            </table>
        </td>
    </tr>
</table>

In [27]:
pd.merge(infectados, vacinados, how='right')

  estado       municipio  casos  √≥bitos  habitantes vacinados
0     ce       fortaleza   10.0     1.0                   100
1     rj  rio de janeiro   20.0     2.0                   200
2     rn           natal    NaN     NaN                   300

#### Outer Join

<pre>Outer Join utiliza todas as combinac√µes de chaves observadas nas duas tabelas em conjunto</pre>

<table>
    <tr><th>Tabela √† Esquerda</th><th>Tabela √† Direita</th><th>Outer Join</th></tr>
    <tr>
        <td>
            <table border="1">
              <thead>
                <tr>
                  <th></th>
                  <th>estado</th>
                  <th>municipio</th>
                  <th>casos</th>
                  <th>√≥bitos</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>0</th>
                  <td bgcolor='green'>ce</td>
                  <td bgcolor='green'>fortaleza</td>
                  <td bgcolor='yellow'>10</td>
                  <td bgcolor='yellow'>1</td>
                </tr>
                <tr>
                  <th>1</th>
                  <td bgcolor='green'>rj</td>
                  <td bgcolor='green'>rio de janeiro</td>
                  <td bgcolor='yellow'>20</td>
                  <td bgcolor='yellow'>2</td>
                </tr>
                <tr>
                  <th>2</th>
                  <td bgcolor='gray'>df</td>
                  <td bgcolor='gray'>bras√≠lia</td>
                  <td bgcolor='gray'>30</td>
                  <td bgcolor='gray'>3</td>
                </tr>
              </tbody>
            </table>
        </td>
        <td>
            <table border="1">
              <thead>
                <tr>
                  <th></th>
                  <th>estado</th>
                  <th>municipio</th>
                  <th>habitantes vacinados</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>0</th>
                  <td bgcolor='green'>ce</td>
                  <td bgcolor='green'>fortaleza</td>
                  <td bgcolor='orange'>100</td>
                </tr>
                <tr>
                  <th>1</th>
                  <td bgcolor='green'>rj</td>
                  <td bgcolor='green'>rio de janeiro</td>
                  <td bgcolor='orange'>200</td>
                </tr>
                <tr>
                  <th>2</th>
                  <td bgcolor='pink'>rn</td>
                  <td bgcolor='pink'>natal</td>
                  <td bgcolor='pink'>300</td>
                </tr>
              </tbody>
            </table>
        </td>
        <td>
            <table border="1">
              <thead>
                <tr>
                  <th></th>
                  <th>estado</th>
                  <th>municipio</th>
                  <th>casos</th>
                  <th>√≥bitos</th>
                  <th>habitantes vacinados</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>0</th>
                  <td bgcolor='green'>ce</td>
                  <td bgcolor='green'>fortaleza</td>
                  <td bgcolor='yellow'>10</td>
                  <td bgcolor='yellow'>1</td>
                  <td bgcolor='orange'>100</td>
                </tr>
                <tr>
                  <th>1</th>
                  <td bgcolor='green'>rj</td>
                  <td bgcolor='green'>rio de janeiro</td>
                  <td bgcolor='yellow'>20.0</td>
                  <td bgcolor='yellow'>2.0</td>
                  <td bgcolor='orange'>200.0</td>
                </tr>
                <tr>
                  <th>2</th>
                  <td bgcolor='gray'>df</td>
                  <td bgcolor='gray'>brasilia</td>
                  <td bgcolor='gray'>30.0</td>
                  <td bgcolor='gray'>3.0</td>
                  <td bgcolor='gray'>NaN</td>
                </tr>
                <tr>
                  <th>3</th>
                  <td bgcolor='pink'>rn</td>
                  <td bgcolor='pink'>natal</td>
                  <td bgcolor='pink'>NaN</td>
                  <td bgcolor='pink'>NaN</td>
                  <td bgcolor='pink'>300.0</td>
                </tr>
              </tbody>
            </table>
        </td>
    </tr>
</table>

In [28]:
pd.merge(infectados, vacinados, how='outer')

  estado       municipio  casos  √≥bitos  habitantes vacinados
0     ce       fortaleza   10.0     1.0                 100.0
1     rj  rio de janeiro   20.0     2.0                 200.0
2     df        bras√≠lia   30.0     3.0                   NaN
3     rn           natal    NaN     NaN                 300.0

#### Quadro-resumo das op√ß√µes de jun√ß√£o

<table>
    <tr><th>Op√ß√£o</th><th>Comportamento</th></tr>
    <tr><td>how='inner'</td><td>Utiliza somente as combinac√µes de chaves observadas nas duas tabelas sendo combinadas</td></tr>
    <tr><td>how='left'</td><td>Utiliza todas as combinac√µes de chaves encontradas na tabela √† esquerda</td></tr>
    <tr><td>how='right'</td><td>Utiliza todas as combinac√µes de chaves encontradas na tabela √† direita</td></tr>
    <tr><td>how='outer'</td><td>Utiliza todas as combinac√µes de chaves observadas nas duas tabelas em conjunto</td></tr>
</table>

<img src='https://i.stack.imgur.com/VUkfU.gif' width='600px' style='margin-left: auto; margin-right: auto;'>

üëâ dica: a(s) chave(s) pode(m) ser inferida(s) a partir do contexto da interse√ß√£o entre as tabelas, mas tamb√©m pode(m) ser especificada(s) com o par√¢metro <i>on</i>

### Mescla

In [29]:
pd.merge(infectados, vacinados, 
         on=['estado', 'municipio'], how='inner')

  estado       municipio  casos  √≥bitos  habitantes vacinados
0     ce       fortaleza     10       1                   100
1     rj  rio de janeiro     20       2                   200

üëâ mais dica: caso a(s) chave(s) n√£o possa(m) ser inferida(s), com nomes diferentes de coluna, deve-se especific√°-la(s) com os par√¢metros <i>left_on</i> e <i>right_on</i>

In [30]:
pd.merge(infectados, vacinados, left_on=['estado', 'municipio'], 
         right_on=['estado', 'municipio'],  how='inner')

  estado       municipio  casos  √≥bitos  habitantes vacinados
0     ce       fortaleza     10       1                   100
1     rj  rio de janeiro     20       2                   200

<pre>üçí üéÇ Voc√™ pode tamb√©m combinar duas tabelas com a opera√ß√£o de jun√ß√£o na presen√ßa de √≠ndice hier√°rquico (<i>join</i>)</pre>

In [31]:
infectados = infectados.set_index(['estado', 'municipio'])
infectados

                       casos  √≥bitos
estado municipio
ce     fortaleza          10       1
rj     rio de janeiro     20       2
df     bras√≠lia           30       3

In [32]:
vacinados = vacinados.set_index(['estado', 'municipio'])
vacinados

                       habitantes vacinados
estado municipio
ce     fortaleza                        100
rj     rio de janeiro                   200
rn     natal                            300

In [33]:
infectados.join(vacinados, how='inner')

                       casos  √≥bitos  habitantes vacinados
estado municipio
ce     fortaleza          10       1                   100
rj     rio de janeiro     20       2                   200

In [34]:
infectados.join(vacinados, how='left')

                       casos  √≥bitos  habitantes vacinados
estado municipio
ce     fortaleza          10       1                 100.0
rj     rio de janeiro     20       2                 200.0
df     bras√≠lia           30       3                   NaN

In [35]:
infectados.join(vacinados, how='right')

                       casos  √≥bitos  habitantes vacinados
estado municipio
ce     fortaleza        10.0     1.0                   100
rj     rio de janeiro   20.0     2.0                   200
rn     natal             NaN     NaN                   300

In [36]:
infectados.join(vacinados, how='outer')

                       casos  √≥bitos  habitantes vacinados
estado municipio
ce     fortaleza        10.0     1.0                 100.0
df     bras√≠lia         30.0     3.0                   NaN
rj     rio de janeiro   20.0     2.0                 200.0
rn     natal             NaN     NaN                 300.0

### Concatena√ß√£o

<pre>Voc√™ pode empilhar ao longo das linhas com uma tabela em cima da outra (alinhando os √≠ndices das colunas)...</pre>

<table>
    <tr><th>Tabelas Acima e Abaixo</th><th>Tabelas Concatenadas</th></tr>
    <tr>
        <td>
            <table border="1">
              <thead>
                <tr>
                  <th></th>
                  <th>estado</th>
                  <th>municipio</th>
                  <th>casos</th>
                  <th>√≥bitos</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>0</th>
                  <td bgcolor='green'>ce</td>
                  <td bgcolor='green'>fortaleza</td>
                  <td bgcolor='yellow'>10</td>
                  <td bgcolor='yellow'>1</td>
                </tr>
                <tr>
                  <th>1</th>
                  <td bgcolor='green'>rj</td>
                  <td bgcolor='green'>rio de janeiro</td>
                  <td bgcolor='yellow'>20</td>
                  <td bgcolor='yellow'>2</td>
                </tr>
                <tr>
                  <th>2</th>
                  <td bgcolor='gray'>df</td>
                  <td bgcolor='gray'>bras√≠lia</td>
                  <td bgcolor='gray'>30</td>
                  <td bgcolor='gray'>3</td>
                </tr>
              </tbody>
            </table>
            <br />
            <table border="1">
              <thead>
                <tr>
                  <th></th>
                  <th>estado</th>
                  <th>municipio</th>
                  <th>habitantes vacinados</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>0</th>
                  <td bgcolor='green'>ce</td>
                  <td bgcolor='green'>fortaleza</td>
                  <td bgcolor='orange'>100</td>
                </tr>
                <tr>
                  <th>1</th>
                  <td bgcolor='green'>rj</td>
                  <td bgcolor='green'>rio de janeiro</td>
                  <td bgcolor='orange'>200</td>
                </tr>
                <tr>
                  <th>2</th>
                  <td bgcolor='pink'>df</td>
                  <td bgcolor='pink'>natal</td>
                  <td bgcolor='pink'>300</td>
                </tr>
              </tbody>
            </table>
        </td>
        <td>
            <table border="1">
              <thead>
                <tr>
                  <th></th>
                  <th>estado</th>
                  <th>municipio</th>
                  <th>casos</th>
                  <th>√≥bitos</th>
                  <th>habitantes vacinados</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>0</th>
                  <td bgcolor='green'>ce</td>
                  <td bgcolor='green'>fortaleza</td>
                  <td bgcolor='yellow'>10.0</td>
                  <td bgcolor='yellow'>1.0</td>
                  <td>NaN</td>
                </tr>
                <tr>
                  <th>1</th>
                  <td bgcolor='green'>rj</td>
                  <td bgcolor='green'>rio de janeiro</td>
                  <td bgcolor='yellow'>20.0</td>
                  <td bgcolor='yellow'>2.0</td>
                  <td>NaN</td>
                </tr>
                <tr>
                  <th>2</th>
                  <td bgcolor='gray'>df</td>
                  <td bgcolor='gray'>brasilia</td>
                  <td bgcolor='gray'>30.0</td>
                  <td bgcolor='gray'>3.0</td>
                  <td>NaN</td>
                </tr>
                <tr>
                  <th>3</th>
                  <td bgcolor='green'>ce</td>
                  <td bgcolor='green'>fortaleza</td>
                  <td>NaN</td>
                  <td>NaN</td>
                  <td bgcolor='orange'>100.0</td>
                </tr>
                <tr>
                  <th>4</th>
                  <td bgcolor='green'>rj</td>
                  <td bgcolor='green'>rio de janeiro</td>
                  <td>NaN</td>
                  <td>NaN</td>
                  <td bgcolor='orange'>200.0</td>
                </tr>
                <tr>
                  <th>5</th>
                  <td bgcolor='pink'>rn</td>
                  <td bgcolor='pink'>natal</td>
                  <td>NaN</td>
                  <td>NaN</td>
                  <td bgcolor='pink'>300.0</td>
                </tr>
              </tbody>
            </table>
        </td>
    </tr>
</table>

In [37]:
pd.concat([infectados, vacinados], axis='index')

                       casos  √≥bitos  habitantes vacinados
estado municipio
ce     fortaleza        10.0     1.0                   NaN
rj     rio de janeiro   20.0     2.0                   NaN
df     bras√≠lia         30.0     3.0                   NaN
ce     fortaleza         NaN     NaN                 100.0
rj     rio de janeiro    NaN     NaN                 200.0
rn     natal             NaN     NaN                 300.0

<pre>... bem como pode ao longo das colunas com uma tabela ap√≥s a outra (alinhando os √≠ndices das linhas)...</pre>

<table>
    <tr><th>Tabela √† Esquerda</th><th>Tabela √† Direita</th><th>Tabelas Concatenadas</th></tr>
    <tr>
        <td>
            <table border="1">
              <thead>
                <tr>
                  <th></th>
                  <th>estado</th>
                  <th>municipio</th>
                  <th>casos</th>
                  <th>√≥bitos</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>0</th>
                  <td bgcolor='green'>ce</td>
                  <td bgcolor='green'>fortaleza</td>
                  <td bgcolor='yellow'>10</td>
                  <td bgcolor='yellow'>1</td>
                </tr>
                <tr>
                  <th>1</th>
                  <td bgcolor='green'>rj</td>
                  <td bgcolor='green'>rio de janeiro</td>
                  <td bgcolor='yellow'>20</td>
                  <td bgcolor='yellow'>2</td>
                </tr>
                <tr>
                  <th>2</th>
                  <td bgcolor='gray'>df</td>
                  <td bgcolor='gray'>bras√≠lia</td>
                  <td bgcolor='gray'>30</td>
                  <td bgcolor='gray'>3</td>
                </tr>
              </tbody>
            </table>
        </td>
        <td>
            <table border="1">
              <thead>
                <tr>
                  <th></th>
                  <th>estado</th>
                  <th>municipio</th>
                  <th>habitantes vacinados</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>0</th>
                  <td bgcolor='green'>ce</td>
                  <td bgcolor='green'>fortaleza</td>
                  <td bgcolor='orange'>100</td>
                </tr>
                <tr>
                  <th>1</th>
                  <td bgcolor='green'>rj</td>
                  <td bgcolor='green'>rio de janeiro</td>
                  <td bgcolor='orange'>200</td>
                </tr>
                <tr>
                  <th>2</th>
                  <td bgcolor='pink'>df</td>
                  <td bgcolor='pink'>natal</td>
                  <td bgcolor='pink'>300</td>
                </tr>
              </tbody>
            </table>
        </td>
        <td>
            <table border="1">
              <thead>
                <tr>
                  <th></th>
                  <th>estado</th>
                  <th>municipio</th>
                  <th>casos</th>
                  <th>√≥bitos</th>
                  <th>habitantes vacinados</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>0</th>
                  <td bgcolor='green'>ce</td>
                  <td bgcolor='green'>fortaleza</td>
                  <td bgcolor='yellow'>10.0</td>
                  <td bgcolor='yellow'>1.0</td>
                  <td bgcolor='orange'>100.0</td>
                </tr>
                <tr>
                  <th>1</th>
                  <td bgcolor='green'>rj</td>
                  <td bgcolor='green'>rio de janeiro</td>
                  <td bgcolor='yellow'>20.0</td>
                  <td bgcolor='yellow'>2.0</td>
                  <td bgcolor='orange'>200.0</td>
                </tr>
                <tr>
                  <th>2</th>
                  <td bgcolor='gray'>df</td>
                  <td bgcolor='gray'>brasilia</td>
                  <td bgcolor='gray'>30.0</td>
                  <td bgcolor='gray'>3.0</td>
                  <td bgcolor='gray'>NaN</td>
                </tr>
                <tr>
                  <th>3</th>
                  <td bgcolor='pink'>rn</td>
                  <td bgcolor='pink'>natal</td>
                  <td bgcolor='pink'>NaN</td>
                  <td bgcolor='pink'>NaN</td>
                  <td bgcolor='pink'>300.0</td>
                </tr>
              </tbody>
            </table>
        </td>
    </tr>
</table>

In [38]:
pd.concat([infectados, vacinados], axis='columns')

                       casos  √≥bitos  habitantes vacinados
estado municipio
ce     fortaleza        10.0     1.0                 100.0
rj     rio de janeiro   20.0     2.0                 200.0
df     bras√≠lia         30.0     3.0                   NaN
rn     natal             NaN     NaN                 300.0

#### Extra! Fontes de Dados üö∞ ‚ûï Limpeza e Prepara√ß√£o dos Dados üèóÔ∏è ‚ûï Tratamento dos Dados ü™¢ em 1 linha!

In [39]:
import os
folderpath = os.path.join(os.getcwd(), os.pardir, 
                          'project', 'data', 'tmp')
folderpath = os.path.abspath(folderpath)

In [40]:
filepath = os.path.join(os.getcwd(), os.pardir, 'project', 
                        'data', 'clean', 
                        'ALL_HIST_PAINEL_COVID.json')
filepath = os.path.abspath(filepath)

In [41]:
pd.concat(\
          [pd.read_csv(\
                       os.path.join(folderpath, file), \
                       on_bad_lines='warn', \
                       sep=';') \
           for file in os.listdir(folderpath) \
           if file.startswith('HIST_PAINEL_COVID') and file.endswith('.csv')]\
         )[['codmun', 'data', 'casosNovos', 'obitosNovos', 'populacaoTCU2019']].\
reset_index(drop=True).\
to_json(filepath)

## Pivoteamento ü•à

<table>
    <tr><th>Formato Longo √© Melhor para Armazenar</th><th>Formato Largo √© Melhor para Analisar</th></tr>
    <tr>
        <td>
            <table border="1">
              <thead>
                <tr>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th>vari√°vel</th>
                  <th>valor</th>
                </tr>
                <tr>
                  <th>0</th>
                  <th>estado</th>
                  <th>municipio</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>1</th>
                  <td>ce</td>
                  <td>fortaleza</td>
                  <td>casos</td>
                  <td>10.0</td>
                </tr>
                <tr>
                  <th>2</th>
                  <td>rj</td>
                  <td>rio de janeiro</td>
                  <td>√≥bitos</td>
                  <td>2.0</td>
                </tr>
                <tr>
                  <th>3</th>
                  <td>df</td>
                  <td>bras√≠lia</td>
                  <td>√≥bitos</td>
                  <td>3.0</td>
                </tr>
                <tr>
                  <th>4</th>
                  <td>rn</td>
                  <td>natal</td>
                  <td>habitantes vacinados</td>
                  <td>300.0</td>
                </tr>
              </tbody>
            </table>
        </td>
        <td>
            <table border="1">
              <thead>
                <tr>
                  <th></th>
                  <th>estado</th>
                  <th>municipio</th>
                  <th>casos</th>
                  <th>√≥bitos</th>
                  <th>habitantes vacinados</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>0</th>
                  <td>ce</td>
                  <td>fortaleza</td>
                  <td>10.0</td>
                  <td>NaN</td>
                  <td>NaN</td>
                </tr>
                <tr>
                  <th>1</th>
                  <td>rj</td>
                  <td>rio de janeiro</td>
                  <td>NaN</td>
                  <td>2.0</td>
                  <td>NaN</td>
                </tr>
                <tr>
                  <th>2</th>
                  <td>df</td>
                  <td>brasilia</td>
                  <td>NaN</td>
                  <td>3.0</td>
                  <td>NaN</td>
                </tr>
                <tr>
                  <th>3</th>
                  <td>rn</td>
                  <td>natal</td>
                  <td>NaN</td>
                  <td>NaN</td>
                  <td>300.0</td>
                </tr>
              </tbody>
            </table>
        </td>
    </tr>
</table>

üëâ dica: pivotear √© uma palavra dif√≠cil, correto? Vamos simplificar.
<ul>
    <li>formato longo: tem muitas linhas para designar uma linha por atributo;</li>
    <li>formato largo: tem muitas colunas para designar uma coluna por atributo.</li>
</ul>

Dito isto, pivoteamento de formato longo em formato largo se faz <i>transformando linhas em colunas</i>;

Simetricamente, pivoteamento de formato largo em formato longo se faz <i>transformando colunas em linhas</i>.

### Pivoteamento do Formato Longo em Formato Largo

üëâ dica: lembre-se que o pivoteamento de formato longo em formato largo se d√° transformando linhas em colunas

In [42]:
formato_longo = pd.DataFrame([['ce', 'fortaleza', 'casos', 10.0],
                              ['rj', 'rio de janeiro', '√≥bitos', 2.0],
                              ['df', 'bras√≠lia', '√≥bitos', 3.0],
                              ['rn', 'natal', 
                               'habitantes vacinados', 300.0]],
                             columns=['estado', 'municipio', 
                                      'vari√°vel', 'valor'])

In [43]:
formato_longo

  estado       municipio              vari√°vel  valor
0     ce       fortaleza                 casos   10.0
1     rj  rio de janeiro                √≥bitos    2.0
2     df        bras√≠lia                √≥bitos    3.0
3     rn           natal  habitantes vacinados  300.0

In [44]:
formato_longo.pivot(index=['estado', 'municipio'], 
                    columns='vari√°vel', values='valor')

vari√°vel               casos  habitantes vacinados  √≥bitos
estado municipio
ce     fortaleza        10.0                   NaN     NaN
df     bras√≠lia          NaN                   NaN     3.0
rj     rio de janeiro    NaN                   NaN     2.0
rn     natal             NaN                 300.0     NaN

### Pivoteamento do Formato Largo em Formato Longo

üëâ dica: lembre-se que o pivoteamento de formato largo em formato longo se d√° transformando colunas em linhas

In [45]:
formato_largo = pd.DataFrame([['ce', 'fortaleza', 10.0, None, None],
                              ['df', 'bras√≠lia', None, None, 3.0],
                              ['rj', 'rio de janeiro', 
                               None, None, 2.0],
                              ['rn', 'natal', None, 300.0, None]],
                             columns=['estado', 'municipio', 
                                      'casos', 'habitantes vacinados', 
                                      '√≥bitos'])

In [46]:
formato_largo

  estado       municipio  casos  habitantes vacinados  √≥bitos
0     ce       fortaleza   10.0                   NaN     NaN
1     df        bras√≠lia    NaN                   NaN     3.0
2     rj  rio de janeiro    NaN                   NaN     2.0
3     rn           natal    NaN                 300.0     NaN

In [47]:
formato_largo.melt(id_vars=['estado', 'municipio'], 
                   var_name='vari√°vel', 
                   value_name='valor').dropna()

   estado       municipio              vari√°vel  valor
0      ce       fortaleza                 casos   10.0
7      rn           natal  habitantes vacinados  300.0
9      df        bras√≠lia                √≥bitos    3.0
10     rj  rio de janeiro                √≥bitos    2.0

#### Extra! Fontes de Dados üö∞ ‚ûï Pivoteamento ü•à

In [48]:
import os
filepath = os.path.join(os.getcwd(), os.pardir, 'project', 'data', 
                        'clean', 'estados_caracteristicas.json')
estados_caracteristicas = pd.read_json(filepath)

In [49]:
estados_caracteristicas

,state_state,characteristics_label,characteristics_value
0,ro,Governador,MARCOS JOS√â ROCHA DOS SANTOS
1,ro,Capital,Porto Velho
2,ro,Gent√≠lico,rondoniense ou rondoniano
3,ro,√Årea Territorial,"237.754,172 km¬≤"
4,ro,Popula√ß√£o residente,1.581.016 pessoas
...,...,...,...
319,df,IDHIÃÅndice de desenvolvimento humano,"0,814"
320,df,Receitas realizadas,"23.812.211,27 R$ (√ó1000)"
321,df,Despesas empenhadas,"21.990.464,68 R$ (√ó1000)"
322,df,Rendimento mensal domiciliar per capita,2.913 R$
323,df,Total de ve√≠culos,2.021.627 ve√≠culos

In [50]:
estados_caracteristicas.pivot(index='state_state', 
                              columns='characteristics_label', 
                              values='characteristics_value')

characteristics_label,Capital,Densidade demogr√°fica,Despesas empenhadas,Gent√≠lico,Governador,IDHIÃÅndice de desenvolvimento humano,MatriÃÅculas no ensino fundamental,Popula√ß√£o residente,Receitas realizadas,Rendimento mensal domiciliar per capita,Total de ve√≠culos,√Årea Territorial
state_state,,,,,,,,,,,,
ac,Rio Branco,"5,06 hab/km¬≤","6.084.416,81 R$ (√ó1000)",acriano,GLADSON DE LIMA CAMELI,"0,71",153.015 matr√≠culas,830.026 pessoas,"6.632.883,11 R$ (√ó1000)",1.038 R$,334.377 ve√≠culos,"164.173,429 km¬≤"
al,Macei√≥,"112,38 hab/km¬≤","10.460.634,92 R$ (√ó1000)",alagoano,PAULO SURUAGY DO AMARAL DANTAS,"0,684",458.782 matr√≠culas,3.127.511 pessoas,"11.950.438,46 R$ (√ó1000)",935 R$,1.034.187 ve√≠culos,"27.830,661 km¬≤"
am,Manaus,"2,53 hab/km¬≤","15.324.896,56 R$ (√ó1000)",amazonense,WILSON MIRANDA LIMA,"0,7",702.763 matr√≠culas,3.941.175 pessoas,"17.328.459,43 R$ (√ó1000)",965 R$,1.069.794 ve√≠culos,"1.559.255,881 km¬≤"
ap,Macap√°,"5,15 hab/km¬≤","4.224.464,09 R$ (√ó1000)",amapaense,CL√âCIO LU√çS VILHENA VIEIRA,"0,688",133.839 matr√≠culas,733.508 pessoas,"5.396.417,14 R$ (√ó1000)",1.177 R$,232.691 ve√≠culos,"142.470,762 km¬≤"
ba,Salvador,"25,03 hab/km¬≤","45.570.160,00 R$ (√ó1000)",baiano,JER√îNIMO RODRIGUES SOUZA,"0,691",1.946.957 matr√≠culas,14.136.417 pessoas,"50.191.003,24 R$ (√ó1000)",1.010 R$,4.887.673 ve√≠culos,"564.760,429 km¬≤"
ce,Fortaleza,"59,05 hab/km¬≤","24.608.352,18 R$ (√ó1000)",cearense,ELMANO DE FREITAS DA COSTA,"0,734",1.161.434 matr√≠culas,8.791.688 pessoas,"28.420.222,47 R$ (√ó1000)",1.050 R$,3.625.994 ve√≠culos,"148.894,447 km¬≤"
df,Bras√≠lia,"489,01 hab/km¬≤","21.990.464,68 R$ (√ó1000)",brasiliense,IBANEIS ROCHA BARROS J√öNIOR,"0,814",369.128 matr√≠culas,2.817.068 pessoas,"23.812.211,27 R$ (√ó1000)",2.913 R$,2.021.627 ve√≠culos,"5.760,784 km¬≤"
es,Vit√≥ria,"83,20 hab/km¬≤","14.392.338,00 R$ (√ó1000)",capixaba ou esp√≠rito-santense,JOS√â RENATO CASAGRANDE,"0,771",503.003 matr√≠culas,3.833.486 pessoas,"19.685.616,74 R$ (√ó1000)",1.723 R$,2.248.960 ve√≠culos,"46.074,448 km¬≤"
go,Goi√¢nia,"20,74 hab/km¬≤","24.248.380,34 R$ (√ó1000)",goiano,RONALDO RAMOS CAIADO,"0,737",855.021 matr√≠culas,7.055.228 pessoas,"37.885.335,17 R$ (√ó1000)",1.619 R$,4.542.235 ve√≠culos,"340.242,859 km¬≤"
ma,S√£o Lu√≠s,"20,55 hab/km¬≤","17.627.170,76 R$ (√ó1000)",maranhense,CARLOS ORLEANS BRAND√ÉO J√öNIOR,"0,676",1.112.636 matr√≠culas,6.775.152 pessoas,"18.503.261,35 R$ (√ó1000)",814 R$,2.031.236 ve√≠culos,"329.651,496 km¬≤"
mg,Belo Horizonte,"35,02 hab/km¬≤","98.391.669,16 R$ (√ó1000)",mineiro,ROMEU ZEMA NETO,"0,774",2.407.107 matr√≠culas,20.538.718 pessoas,"97.199.823,16 R$ (√ó1000)",1.529 R$,13.028.883 ve√≠culos,"586.513,983 km¬≤"
ms,Campo Grande,"7,72 hab/km¬≤","14.506.915,37 R$ (√ó1000)",sul-mato-grossense ou mato-grossense-do-sul,EDUARDO CORREA RIEDEL,"0,742",391.975 matr√≠culas,2.756.700 pessoas,"16.396.655,77 R$ (√ó1000)",1.839 R$,1.824.708 ve√≠culos,"357.142,082 km¬≤"
mt,Cuiab√°,"4,05 hab/km¬≤","18.187.363,27 R$ (√ó1000)",mato-grossense,MAURO MENDES FERREIRA,"0,736",486.568 matr√≠culas,3.658.813 pessoas,"23.958.528,84 R$ (√ó1000)",1.674 R$,2.568.240 ve√≠culos,"903.208,361 km¬≤"
pa,Bel√©m,"6,51 hab/km¬≤","22.533.470,05 R$ (√ó1000)",paraense,HELDER ZAHLUTH BARBALHO,"0,69",1.389.983 matr√≠culas,8.116.132 pessoas,"25.849.446,10 R$ (√ó1000)",1.061 R$,2.478.988 ve√≠culos,"1.245.870,704 km¬≤"
pb,Jo√£o Pessoa,"70,39 hab/km¬≤","10.074.700,04 R$ (√ó1000)",paraibano,JO√ÉO AZEVEDO LINS FILHO,"0,698",540.919 matr√≠culas,3.974.495 pessoas,"13.097.005,32 R$ (√ó1000)",1.096 R$,1.523.167 ve√≠culos,"56.467,242 km¬≤"
pe,Recife,"92,37 hab/km¬≤","33.320.486,44 R$ (√ó1000)",pernambucano,RAQUEL TEIXEIRA LYRA LUCENA,"0,719",1.249.850 matr√≠culas,9.058.155 pessoas,"35.746.028,97 R$ (√ó1000)",1.010 R$,3.439.164 ve√≠culos,"98.067,877 km¬≤"
pi,Teresina,"12,99 hab/km¬≤","9.676.736,32 R$ (√ó1000)",piauiense,RAFAEL TAJRA FONTELES,"0,69",459.871 matr√≠culas,3.269.200 pessoas,"12.124.215,62 R$ (√ó1000)",1.110 R$,1.385.426 ve√≠culos,"251.755,481 km¬≤"
pr,Curitiba,"57,42 hab/km¬≤","55.534.402,97 R$ (√ó1000)",paranaense,CARLOS ROBERTO MASSA JUNIOR,"0,769",1.348.296 matr√≠culas,11.443.208 pessoas,"60.163.576,12 R$ (√ó1000)",1.846 R$,8.575.905 ve√≠culos,"199.298,981 km¬≤"
rj,Rio de Janeiro,"366,96 hab/km¬≤","67.965.548,70 R$ (√ó1000)",fluminense,CL√ÅUDIO BOMFIM DE CASTRO E SILVA,"0,762",1.945.408 matr√≠culas,16.054.524 pessoas,"78.488.140,79 R$ (√ó1000)",1.971 R$,7.475.503 ve√≠culos,"43.750,425 km¬≤"
rn,Natal,"62,53 hab/km¬≤","11.330.957,55 R$ (√ó1000)","potiguar, norte-rio-grandense, rio-grandense-d...",MARIA DE FATIMA BEZERRA,"0,728",447.692 matr√≠culas,3.302.406 pessoas,"13.527.552,73 R$ (√ó1000)",1.267 R$,1.495.094 ve√≠culos,"52.809,599 km¬≤"
ro,Porto Velho,"6,65 hab/km¬≤","7.085.530,02 R$ (√ó1000)",rondoniense ou rondoniano,MARCOS JOS√â ROCHA DOS SANTOS,"0,7",244.815 matr√≠culas,1.581.016 pessoas,"9.122.310,72 R$ (√ó1000)",1.365 R$,1.154.287 ve√≠culos,"237.754,172 km¬≤"
rr,Boa Vista,"2,85 hab/km¬≤","3.865.094,27 R$ (√ó1000)",roraimense,ANTONIO OLIVERIO GARCIA DE ALMEIDA,"0,699",103.123 matr√≠culas,636.303 pessoas,"4.266.318,55 R$ (√ó1000)",1.242 R$,263.345 ve√≠culos,"223.644,530 km¬≤"
rs,Porto Alegre,"38,62 hab/km¬≤","62.476.279,34 R$ (√ó1000)",ga√∫cho ou sul-rio-grandense,EDUARDO FIGUEIREDO CAVALHEIRO LEITE,"0,771",1.257.992 matr√≠culas,10.880.506 pessoas,"66.397.468,18 R$ (√ó1000)",2.087 R$,7.869.630 ve√≠culos,"281.707,151 km¬≤"
sc,Florian√≥polis,"79,49 hab/km¬≤","25.595.103,38 R$ (√ó1000)",catarinense ou barriga-verde,JORGINHO DOS SANTOS MELLO,"0,792",900.240 matr√≠culas,7.609.601 pessoas,"34.696.772,82 R$ (√ó1000)",2.018 R$,5.974.106 ve√≠culos,"95.730,690 km¬≤"
se,Aracaju,"100,72 hab/km¬≤","8.494.927,20 R$ (√ó1000)",sergipano ou sergipense,F√ÅBIO CRUZ MITIDIERI,"0,702",320.638 matr√≠culas,2.209.558 pessoas,"10.145.046,95 R$ (√ó1000)",1.187 R$,907.388 ve√≠culos,"21.938,188 km¬≤"
sp,S√£o Paulo,"178,96 hab/km¬≤","231.982.243,69 R$ (√ó1000)",paulista,TARCISIO GOMES DE FREITAS,"0,806",5.396.803 matr√≠culas,44.420.459 pessoas,"232.822.496,57 R$ (√ó1000)",2.148 R$,32.293.191 ve√≠culos,"248.219,485 km¬≤"
to,Palmas,"5,45 hab/km¬≤","8.929.456,44 R$ (√ó1000)",tocantinense,WANDERLEI BARBOSA CASTRO,"0,731",227.743 matr√≠culas,1.511.459 pessoas,"10.305.099,01 R$ (√ó1000)",1.379 R$,830.733 ve√≠culos,"277.423,627 km¬≤"

<font size=7><center><code>Executem todo este caderno...</code></center></font>

<font size=7><center><code>... bem como o caderno Juntando as Pe√ßas</code></center></font>