In [9]:
import pandas as pd

In [1]:
def bruna(x, y, z):
    return x + y + z

In [2]:
bruna(2, 3, 4)

9

In [4]:
bruna = lambda x, y, z: x + y + z

In [5]:
bruna(2, 3, 4)

9

In [15]:
df = pd.DataFrame({'salario': [100, 200, 300]*300, 'pessoas': ['monica', 'bruna', 'ricardo']*300})
df

     salario  pessoas
0        100   monica
1        200    bruna
2        300  ricardo
3        100   monica
4        200    bruna
..       ...      ...
895      200    bruna
896      300  ricardo
897      100   monica
898      200    bruna
899      300  ricardo

[900 rows x 2 columns]

In [16]:
df['salario'] = df['salario'].map(lambda x: 10*x)

In [17]:
df

     salario  pessoas
0       1000   monica
1       2000    bruna
2       3000  ricardo
3       1000   monica
4       2000    bruna
..       ...      ...
895     2000    bruna
896     3000  ricardo
897     1000   monica
898     2000    bruna
899     3000  ricardo

[900 rows x 2 columns]

In [18]:
serie = pd.Series(range(10))

In [22]:
serie.map(lambda x: 10*x)

0     0
1    10
2    20
3    30
4    40
5    50
6    60
7    70
8    80
9    90
dtype: int64

In [ ]:
df.apply(lambda x: print( f'{x[0]*10}' + x[1].capitalize()), axis=1)

In [45]:
from bs4 import BeautifulSoup
import requests

url = 'http://pudim.com.br/'
content = requests.get(url).content
soup = BeautifulSoup(content, 'html.parser')
email = soup.find_all('div', class_='email')[0].find('a').get_text()

In [46]:
email

'pudim@pudim.com.br'

In [50]:
content = requests.get('https://www.prefeitura.sp.gov.br/cidade/secretarias/upload/saude/hospital_do_servidor_publico_municipal/imagens/2021/Not%C3%ADcias/zegotinha_foto.jpg')

In [51]:
resposta = requests.get('https://www.prefeitura.sp.gov.br/cidade/secretarias/upload/saude/hospital_do_servidor_publico_municipal/imagens/2021/Not%C3%ADcias/zegotinha_foto.jpg')

In [52]:
resposta

In [54]:
requests.get('https://www.prefeitura.sp.gov.br/cidade/secretarias/upload/saude/hospital_do_servidor_publico_municipal/imagens/2021/Not%C3%ADcias/zegotinha_foto347.jpg')

In [56]:
dicionario = {'monica': 10, 'helio': 0}

In [62]:
lista1 = ['monica', 'helio']

In [63]:
lista2 = [10, 0]

In [65]:
{chave: valor for chave, valor in zip(lista1, lista2)}

{'monica': 10, 'helio': 0}